# Compiled output
target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE specific
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.factorypath
.settings/
.vscode/

# STS
.apt_generated
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Log files
*.log

# Firebase service account key
src/main/resources/service-account-key.json